@import "_settings";
@import "compass/css3/images";
@import "compass/css3/border-radius";

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    height: 100%;
}

table {
    margin: 0;
    width: 100%;
    padding: 0;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 0;
}

img {
    border: 0;
}

div {
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.menuContainer {
    padding: 0 18px;
}

.container {
    padding: 18px 18px;
}

.navigationBar {
    height: 44px;
}

.navigationBarHeader {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    line-height: 44px;
}

.leftButton, .rightButton, .rightButtonDisabled {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 24pt;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 100%;
}

.firstBlock, .middleBlock, .lastBlock, .onlyBlock {
    font-size: $fieldFontSize;
    min-height: 27px;
    /*overflow: hidden;*/
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 87.5%;
    margin: auto;
    white-space: nowrap;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    position: relative;
}

.container .firstBlock, .container .middleBlock, .container .lastBlock, .container .onlyBlock {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.staticPanel .firstBlock, .staticPanel .middleBlock, .staticPanel .lastBlock, .staticPanel .onlyBlock {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.firstBlock, .middleBlock, .lastBlock, .onlyBlock, .frame {
    border-width: 1px;
    border-style: solid;
}

.middleBlock, .lastBlock {
    border-top-width: 0;
}

.errorMessage {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 14px;
    min-height: 38px;
}

.frame {
    margin-left: 18px;
    margin-right: 18px;
    padding: 15px;
    text-align: justify;
    font-size: 14px;
}

.greetingDescription {
    font-size: 14px;
    padding: 0 9px;
    font-style: italic;
}

.ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.header, .text {
    font-size: 13px;
    padding-left: 6.25%;
    padding-right: 6.25%;
}

.nowrap {
    white-space: nowrap;
}

.header {
    padding-top: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}

.container .header, .container .text {
    margin: 15px 0 5px 0;
    padding: 0 9px;
}

.container .headerTop {
    margin: 0 0 5px 0;
    padding: 0 9px;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.container .textTop {
    margin: 0 0 5px 0;
    padding: 0 9px;
    font-size: 13px;
}

.container li {
    font-size: 13px;
}

.comment {
    text-align: left;
    font-size: 12px;
    margin-top: 7px;
    padding: 0 9px;
}

@-webkit-keyframes dashcode-activity-indicator {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.activityIndicator {
    height: 20px;
    width: 20px;
    -webkit-animation-name: dashcode-activity-indicator;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-play-state: running;
}

.headerIcon {
    height: 28px;
    vertical-align: middle;
    width: 28px;
}

.headerText {
    font-size: 15px;
    font-weight: bold;
    margin-left: 8px;
}

.headerWithIcon {
    padding-bottom: 10px;
    width: 93.75%;
    margin: auto;
}

.editField, .editFieldDisabled {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-margin-bottom-collapse: separate;
    -webkit-margin-top-collapse: separate;
    border: 0;
    font-size: $fieldFontSize;
}

.animationFixer {
    width: 100%;
    height: 0;
    overflow: hidden;
}

.screenFooter {
    width: 100%;
    height: 30px;
}

.switch {
    position: relative;
    height: 24px;
    width: 60px;
    top: -5px;
}

.textTabBar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.container .textTabBar {
    width: 100%;
    margin: 0;
}

.container .headerWithIcon {
    width: 100%;
    margin: 0;
}

.textTabButtonSelected,
.textTabButtonNotSelected {
    border-width: 1px;
    border-style: solid;
}

.textTabButtonLeft, .textTabButtonMiddle, .textTabButtonRight {
    border-right-width: 0;
    height: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 100%;
}

.textTabButtonTop {
    height: 30px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
    width: 100%;
    @include border-top-left-radius(16px);
    @include border-top-right-radius(16px);
}

.textTabButtonLeft {
    @include border-top-left-radius(8px);
    @include border-bottom-left-radius(8px);
}

.textTabButtonRight {
    @include border-top-right-radius(8px);
    @include border-bottom-right-radius(8px);
}

.didList {
    display: block;
    font-weight: normal;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 6px;
    padding-left: 10px;
    li {
        font-size: 12px;
    }
}

.standardMargins {
    margin-left: 11px;
    margin-right: 11px;
}

.testFailed {
    color: red
}

.testSuccess, .testCompleted {
    color: green
}

.testNotApplicable {
    color: #ff9900
}

.separator {
    height: 0;
    border: 1px solid;
    width: 93.75%;
    margin: 15px auto;
}

.brandingBar {
    height: 30px;
    width: 100%;
    z-index: 101;
}

.detailsButton {
    width: 25px;
    height: 25px;
}

.roundedBlock {
    font-size: 12px;
    position: relative;
    padding: 8px;
    border-style: solid;
    border-width: 1px;

}

.dataGroup {
    border-width: 1px;
    border-style: solid;
    padding: 0 8px;
}

.dataGroup .onlyBlock {
    border: 0;
    margin: 0 !important;
}

.dataGroup .expand {
    text-decoration: underline;
    padding: 0 0 8px 0;
}

.dg_total {
    font-weight: bold;
    padding: 10px 0;
}

.dg_plainRow {
    padding: 10px 0;
}

.dg_value {

}

.dg_level0 {
    font-size: 13px;
}

.dg_level0 .dg_title {
    padding: 10px 0;
    font-weight: bold;
}

.dg_level1 .dg_title {
    font-weight: bold;
}

.dg_firstElement > div > .dg_plainRow,
.dg_onlyElement > div > .dg_plainRow {
    border-top: 0;
}

.dg_level2 {
    padding-left: 10px;
}

.textArea {
    width: 100%;
    height: 6em;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    @include border-radius(0);
    -webkit-margin-bottom-collapse: separate;
    -webkit-margin-top-collapse: separate;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

input[type="search"] {
    padding: 0;
    margin: 0 0;
}

#hiddenContent {
    margin: 0;
    padding: 0;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.helpBar {
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    border: 0;
    bottom: 0;
    top: 0px;
}

.helpShadow {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 80);
    filter: alpha(opacity = 80);
    opacity: 0.80;
    -moz-opacity: 0.80;
}

.helpContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 101
}

.navigationHelpBar {
    display: block;
    width: 100%;
    position: relative;
    height: 45px;
    z-index: 100;
}

.contentHelpBar {
    bottom: 0;
    width: 100%;
}

.contentHelpBar h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 15px 0 5px 0;
}

.contentHelpBar p, .contentHelpBar ul li, .contentHelpBar ol li {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 5px 0;
}

.contentHelpBar ul, .contentHelpBar li, .contentHelpBar ol {
    margin: 0 0 0 17px;
    padding: 0;
}

.sectionHeader {
    font-size: 14px;
    height: 24px;
    padding-left: 11px;
    padding-top: 8px;
    line-height: 20px;
}


.sectionHeaderAddButton {
    @include border-radius(9px);
    border-width: 1px;
    border-style: solid;
    float: right;
    height: 16px;
    margin-right: 11px;
    margin-top: 0;
    width: 16px
}

.screenMenuButton {
    border-top-width: 1px;
    font-size: 16px;
}

.simpleInput {
    font-size: 16px;
    padding: 0 0 0 10px;
    margin: 0;
    @include border-radius(5px);
}

.simpleSelect {
    -webkit-appearance: listbox;
}

.wrapperMainScreen {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ringGroup {

}

.ringGroup-itemContainer {
}

.ringGroup-item {
    display: table;
    margin-top: -8px;
    padding: 10px 0;
    width: 100%;
}

.ringGroup-numberCell {
    display: table-cell;
    vertical-align: middle;
    width: 90%;
}

.ringGroup-checkCell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 10%;
}

.ringGroup-numbersContainer {
    overflow: hidden;
}

.ringGroup-item-numbers {
    margin-top: -1px;
}

.ringGroup-item-check {
    display: table-cell;
    width: 20%;
}

.ringGroup-item-number, .ringGroup-item-number-ubp {
    margin-top: -1px;
    display: table;
    width: 100%;
}

.ringGroup-item-number-name {
    position: relative;
    height: 15px;
    font-size: 15px;
}

.ringGroup-item-number-ubp .ringGroup-item-number-name {
    display: table-cell;
    padding: 10px 0;
    height: 15px;
    position: relative;
    width: 100%;
}

.ringGroup-item-number-number {
    position: relative;
    width: 70%;
    height: 15px;
}

.ringGroup-item-number-ubp .ringGroup-item-number-number {
    display: none;
}

.callFlipGroup-item {
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 13px;
}

.callFlipGroup-valueCell {
    float: left;
    width: 40px;
    height: 27px;
    font-size: 28px;
    font-weight: bold;
}

.callFlipGroup-positionCell {
    float: left;
    padding-top: 2px;
    padding-right: 8px;
}

.forwardPhone-item {
    white-space: normal;
    position: relative;
    width: 100%;
    margin-bottom: 13px;
}

.forwardPhone-item-phoneContainer {
    padding-right: 72px;
    .editField, .valueGray {
        font-size: 12px;
    }
}

.triangle-isosceles {
    position: relative;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    word-wrap: break-word;
    white-space: normal;
}

.triangle-arrow {
    left: 80%;
    position: absolute;
    display: block;
    margin-left: -11px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0;
    border-width: 11px;
    border-style: solid;
    width: 0;
    height: 0;
}

.triangle-arrow:after {
    left: 80%;
    position: absolute;
    display: block;
    margin-left: -11px;
    margin-top: -12px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0;
    border-top-width: 11px;
    border-width: 11px;
    border-style: solid;
    width: 0;
    height: 0;
    content: "";
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.companyAddressValidate-highLight{
    color: #f9991f;
}

.marginTop10 {
    margin-top: 10px;
}

.ivrValidatorItem {
    white-space: normal;
    color: red;
    margin-bottom: 5px;
    min-height: 0 !important;
    line-height: 18px;
}
