@import "compass/css3/box-sizing";
@import "compass/css3/transform";

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin sizing {
    @include box-sizing(border-box);
}

/**
 * CSS3 keyframes:
 *   @keyframes animationName {
         keyframe { property list }
         keyframe { property list }
         ...
     }

 * @see: http://www.css3files.com/animation/
 */
@mixin key-frames($animation-name) {
    @-webkit-keyframes $animation-name{
        @content;
    }
    @-moz-keyframes $animation-name{
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

/**
 * CSS3 Animation:
 *   animation: animationName duration timing-function delay iteration-count direction fill-mode
 * @see: http://www.css3files.com/animation/
 */
@mixin animation (
    $animation-name,
    $duration,
    $timing-function: ease,
    $delay: 0,
    $iteration-count: 1,
    $direction: normal,
    $fill-mode: forwards)
{
    -webkit-animation-name: $animation-name;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing-function;
    -webkit-animation-delay: $delay;
    -webkit-animation-ireration-count: $iteration-count;
    -webkit-animation-direction: $direction;
    -webkit-animation-fill-mode: $fill-mode;

    -moz-animation-name: $animation-name;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing-function;
    -moz-animation-delay: $delay;
    -moz-animation-ireration-count: $iteration-count;
    -moz-animation-direction: $direction;
    -moz-animation-fill-mode: $fill-mode;

    animation-name: $animation-name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-ireration-count: $iteration-count;
    animation-direction: $direction;
    animation-fill-mode: $fill-mode;
}


/**
 * =========================
 * Slide
 * =========================
 */
$translateTo0: translate3d(0, 0, 0);
$translateToX100Negative: translate3d(-100%,0,0);
$translateToX100: translate3d(100%, 0, 0);
$translateToY100Negative: translate3d(0, 100%, 0);
$translateToY100:translate3d(100%, 0, 0);

/**
 * Slide Horizontally
 */
@include key-frames(slideInFromRight) {
    0%   { @include transform($translateToX100); }
    100% { @include transform($translateTo0); }
}

@include key-frames(slideOutToRight) {
    0%   { @include transform($translateTo0); }
    100% { @include transform($translateToX100); }
}

@include key-frames(slideInFromLeft) {
    0%   { @include transform($translateToX100Negative); }
    100% { @include transform($translateTo0); }
}

@include key-frames(slideOutToLeft) {
    0%   { @include transform($translateTo0); }
    100% { @include transform($translateToX100Negative); }
}

/**
 * Slide Vertically
 */
@include key-frames(slideInFromTop) {
    0%   { @include transform($translateToY100); }
    100% { @include transform($translateTo0); }
}
@include key-frames(slideOutToTop) {
    0%   { @include transform($translateTo0); }
    100% { @include transform($translateToY100); }
}
@include key-frames(slideInFromBottom) {
    0%   { @include transform($translateToY100Negative); }
    100% { @include transform($translateTo0); }
}
@include key-frames(slideOutToBottom) {
    0%   { @include transform($translateTo0); }
    100% { @include transform($translateToY100Negative); }
}

@mixin slide($slide-name, $slide-duration: .3s) {
    @include animation(
        $animation-name: $slide-name,
        $duration: $slide-duration
    );
}