@import "style_raw.scss";
@import "utilities.scss";
@import "ui/switch.scss";
@import "ui/pane.scss";
@import "ui/select_list.scss";
@import "slide.scss";

#content-wrap {
    height: 100%;
}

.invisible {
    visibility: hidden;
}

#navigationBarWrapper {
    display:block;
    width:100%;
    position: fixed;
    top:0;
    z-index: 100;

    #navigationToolBar {
        //@include sizing;
        display: -webkit-flex;

        .navigationBar-titleWrapper{
            -webkit-flex: 1;
        }

        .navigationBar-leftButton-wrapper,
        .navigationBar-rightButton-wrapper{
            width: 20%;
        }
    }
}

#content {
    -webkit-backface-visibility: none; // http://css-tricks.com/almanac/properties/b/backface-visibility/
}
