<screen ng-controller="ScreenLogin">

    <screen-header></screen-header>

    <screen-content>
        <div class="container">
            <form id="loginForm" name="loginForm" novalidate ng-submit="loginForm.$valid && login()">
                <input type="submit" style="visibility: hidden; width: 0; height: 0;" />

                <div id='loginFields'>
                    <div class="headerTop">Service Login:</div>
                    <edit-field ng-repeat="editField in editFields"
                                id="{{editField.id}}"
                                title="{{editField.title}}"
                                value="{{editField.value}}"
                                ng-class="{firstBlock: $first, middleBlock: $middle, lastBlock: $last}">
                    </edit-field>
                </div>
            </form>
            <div id="rememberMe" style="margin-top: 10px" class="onlyBlock">
                <label for="rememberMeInput">Remember Me</label>
                <input type="checkbox" id="rememberMeInput"/>
            </div>
        </div>
    </screen-content>

    <screen-aside></screen-aside>

</screen>