<screen ng-controller="ScreenLogin">

    <screen-navigation>
        <left-button></left-button>
        <screen-title>Account</screen-title>
        <right-button ng-click="login()">Login</right-button>
    </screen-navigation>

    <screen-content>
        <form id="loginForm" name="loginForm" novalidate ng-submit="loginForm.$valid && login()">
            <input type="submit" style="visibility: hidden; width: 0; height: 0;" />

            <div id='loginFields'>
                <div class="headerTop">Service Login:</div>
                <div id="login">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" id="phoneNumber"
                           ng-model="account.number"
                           name="phone_number" required/>
                </div>
                <div id="pin">
                    <label for="pinInput">Extension</label>
                    <input type="text" id="pinInput" ng-model="account.ext" />
                </div>
                <div id="password">
                    <label for="passwordInput">Password</label>
                    <input type="text" id="passwordInput" ng-model="account.password" required />
                </div>
            </div>
            <input type="submit" value="abcd" />

        </form>
        <div id="rememberMe" style="margin-top: 10px">
            <label for="rememberMeInput">Remember Me</label>
            <input type="checkbox" id="rememberMeInput"/>
        </div>
    </screen-content>

    <screen-aside></screen-aside>

</screen>