<screen ng-controller="ScreenUIComponents">

    <screen-navigation>
        <left-button></left-button>
        <screen-title>{{screenTitle}}</screen-title>
        <right-button></right-button>
    </screen-navigation>

    <screen-content>
        <div class="pane-wrap">
            <pane ng-repeat="pane in panes"
                    label="{{panel.label}}"
                    icon="{{pane.icon}}"
                    screen="{{pane.screen}}">
                {{pane.title}}
            </pane>
        </div>
    </screen-content>

    <screen-aside></screen-aside>

</screen>

