<screen ng-controller="ScreenForms">

    <screen-header></screen-header>

    <screen-content>
        <display-field id="displayFieldDemo" title="Extension Number" value="101"></display-field>

        <br />

        <edit-field id="editFieldDemo" title="Caller ID"
                    subTitle="Name appears when making calls" value="Vin"></edit-field>

        <br />

        <switch-field id="switchFieldDemo" title="Home" subTitle="Phone number" status="on"></switch-field>

        <br />

        <switch name="switchDemoOne" status="on"></switch>
        <switch name="switchDemoTwo"></switch>
    </screen-content>

</screen>